<div class="row">

<div class="col-md-6 col-md-offset-3">
<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<%= f.label :email %><br />
  	<%= f.email_field :email, autofocus: true, placeholder: "Email Address", class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= f.submit "Регистрация", class: "btn btn-success" %>
    <span class="pull-right"><%= render "devise/shared/links" %></span>
  </div>
<% end %>

</div>
</div>
