<div class="row">

<div class="col-md-6 col-md-offset-3">
<h2>Забыли пароль?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<%= f.label :email %><br />
  	<%= f.email_field :email, autofocus: true, class: "form-control"  %>
  </div>

  <div class="form-group">
  	<%= f.submit "Выслать инструкции для востановления",  class: "btn btn-success" %>
  	<span class="pull-right"><%= render "devise/shared/links" %></span>
  </div>
<% end %>

</div>
</div>
