<h3>Личный кабинет</h3>
<h4>Аккаунт <%=current_user.email %></h4>
<p>Find me in app/views/private/index.html.erb</p>

<div class="col-md-3">
<p><a href="#">Панель управления</a></p>
<p><%= link_to "Настройка устройств", private_settings_path %></p>
<p><a href="#">Центр помощи</a></p>
<p><a href="#">Выйти</a></p>
</div>
<div class="col-md-9">
<p>Ваше имя: <%= current_user.email %></p>
<p>Ваш пароль: <%= current_user.encrypted_password %></p>

</div>

