<div id="extra">
	
	<div class="inner">
		
		<div class="container">
			
			<div class="row">
				
				<div class="col-xs-6 col-md-4">
					
					<h3><span class="slash">//</span> Quick Links</h3>
					
					
					<ul class="footer-links clearfix">
                        <li><a href="./">Home</a></li>
                        <li><a href="./pricing.html">Plans</a></li>
                        <li><a href="../features.html">Features</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./faq.html">FAQ</a></li>
                        <li><a href="javascript:;">Support</a></li>
                    </ul>
				</div> <!-- /span4 -->
				
				
				<div class="col-xs-6 col-md-4">
					
					<h3><span class="slash">//</span> Stay In Touch</h3>
					
					
					<p>There are real people behind Reboot Landing, so if you have a question or suggestion (no matter how small) please get in touch with us:</p>
					
					<ul class="social-icons-container">
						
						<li>
							<a href="javascript:;" class="social-icon social-icon-twitter">
								Twitter
							</a>
						</li>
							
						<li>
							<a href="javascript:;" class="social-icon social-icon-googleplus">
								Google +
							</a>
						</li>
						
						<li>							
							<a href="javascript:;" class="social-icon social-icon-facebook">
								Facebook
							</a>
						</li>
						
					</ul> <!-- /extra-social -->
					
				</div> <!-- /span4 -->
				
				<div class="col-xs-6 col-md-4">
					
					<h3><span class="slash">//</span> Subscribe and get updates</h3>
					

					<p>Subscribe to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
					
					
					<form>
						
						<input type="text" name="subscribe_email" placeholder="Your Email">
						
						<br>
						
						<button class="btn ">Subscribe</button>
					</form>
					
					
				</div> <!-- /span4 -->
				
			</div> <!-- /row -->
			
		</div> <!-- /container -->
		
	</div> <!-- /inner -->
	
</div>
