<div class="section-feat">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <h3><%= image_tag("logo.png", class: "mtop", width: 30)%> No need to install</h3>
        <p>No need to install additional software on your computer or mobile device. Simply go to <%= link_to "settings", private_settings_path =%> page and set up your favorite device.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <h3><%= image_tag("logo.png", class: "mtop", width: 30)%> Be safe online</h3>
        <p>Avoid getting your password and other sensitive information intercepted by connecting to SweetVPN. All your data is encrypted while running our VPN service.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <h3><%= image_tag("logo.png", class: "mtop", width: 30)%> Surf Anonymously</h3>
        <p>Hide your IP address and surf anonymously. SweetVPN makes it harder for third parties to know who you are on the internet. Not even we know what IP address you have.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <h3><%= image_tag("logo.png", class: "mtop", width: 30)%> No logs</h3>
         <p>We do care about your internet privacy and therefore we do not log anything at all. Also, your details are never shared with any 3rd party.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <h3><%= image_tag("logo.png", class: "mtop", width: 30)%> Hide your identity</h3>
        <p>Hide your identity online and surf anonymously. When using our VPN service you will be protected behind a encrypted tunnel and no traces can lead back to you.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <h3><%= image_tag("logo.png", class: "mtop", width: 30)%> View blocked websites</h3>
        <p>With SweetVPN you can access services like Facebook, Twitter, Skype, YouTube and Gmail. Even if you are in a country or a private network where the access is blocked.</p>
      </div>
    </div>

  </div>
</div>