<div class="hero">
  <div class="container">    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="info">
        <h1>Now control your Internet with SweetVPN</h1>
        <p>Социальные сети, музыкальные и видео сервисы, мессенджеры и торрент-клиенты будут работать, даже если запреты действуют на государственном уровне. Для всего интернета вы остаетесь анонимны. Ваш провайдер больше не может отслеживать и ограничивать вашу активность в сети.
        </p>
        <div class="row try">
          <%= link_to "Посмотреть цены", pricing_path, class: "btn btn-default btnhero" %>
          <%= link_to "Попробовать", new_user_registration_path, class: "btn btn-success btnhero margin-left" %>
        </div>
      </div>
  </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= image_tag("devices.png", alt: "Works on all devices", width: 400)%>      
    </div>
  </div>
</div>
