<section id="platforms" class="center">
  <div class="container">
    <div class="row">
      <div class="platforms">
        <h3>SweetVPN works on all major platforms it is cross-platform</h3>
        <p>
          All features of SweetVPN are supported on iOS, Android, Windows Phone, Windows and Mac OS.<br /> Just look at <%= link_to "our tutorial on how to setup", private_settings_path =%>  your favorite device.</p>
  <div>
  <%= image_tag("windows.png", width: "30px", height: "25px")%>
          <%= image_tag("mac.png", width: "30px", height: "25px")%>
          <%= image_tag("linux.png", width: "30px", height: "25px")%>
          <%= image_tag("ios.png", width: "30px", height: "25px")%>
          <%= image_tag("android.png", width: "30px", height: "25px")%>
       </div> 
      </div>

      <div class="try">
          <%= link_to "Try It!", new_user_registration_path, class: "btn btn-success btnhero margin-left" %>
        </div>
    </div>
  </div>
</section>