@import "bootswatch/flatly/variables";
@import "bootstrap";

html, body {
  height: 100%;  
}
.root {
	clear: both;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -100px;
}
.root .root-footer {
	height: 100px;
}

.footer {
	clear: both;
	position: relative;
	height: 100px;
	background: #272a2f;
	height: 100px;
	color: #b9b9b9;
}

.navbar{
	border-radius:0px;
	margin-bottom: 0px;
}
.navbar .navbar-text {
	color: #eeeeee;
	margin-right :0px;
	margin-left: 0px;
}
.subheader{
	margin-top: 80px;
}

#extra {
	border-top: 1px solid #000;
}
#extra .inner {
	color: #fff;
	background-color: #222;
	border-top: 1px solid #555;
	padding: 20px;
	color: #fff;
	background-color: #222;
	border-top: 1px solid #555;
}
#extra h3 {
	font-size: 1.2em;
}

.footer-links {
	width: 49%;
	display: inline-block;
	margin: 0;
	list-style: none;
}

.social-icons-container {
	width: 100%;
	display: table;
	padding: 0;
	margin: 2.5em 0 0;
	list-style: none;
}
.social-icons-container li {
	width: 33%;
	display: table-cell;
	text-align: center;
}

.social-icon-twitter {
background-position: 0 0;
}

.social-icon-googleplus {
background-position: -50px 0;
}

.social-icon-facebook {
background-position: -100px 0;
}

.social-icon {
width: 50px;
height: 50px;
display: inline-block;
overflow: hidden;
line-height: 600px;
background: url(../images/socials.png) no-repeat 0 0;
}

.slash {
	color: #677E30;
}
.slash {
	padding-right: .25em;
	color: #81994D;
}

.f{	
	margin: 20px auto;
}
.info{
	padding-top: 10px;
}
.navbar-brand{
	font-weight: bold;
}
.bimage
{   
  margin-top:-6px;
  height: 30px;
  width: 30px;
}

.bold{
	font-weight:bold;	
}

.navbar-nav > li > a.bold {
	color:#188c8c;
	font-weight:bold;
}
.center
{
	text-align: center;
  margin-bottom: 20px;
}

.crappy-paste {
	border-top: 4px solid #202327;
	background: #272a2f;
	color: #b9b9b9;
	font-size: 85%;
	line-height: 135%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.platforms{
	margin: 50px auto 50px;
}
.platforms img{
  margin: 20px;
}
.btnhero{
	width:200px;
}
.hero {
	margin-top: 60px;
	padding-top:-20px;	
	padding: 3em 0 3em;
	background: #141d27;
	background: -moz-linear-gradient(70deg, #141d27 0, #233344 72%, #2c4055 89%, #39526e 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #141d27), color-stop(72%, #233344), color-stop(89%, #2c4055), color-stop(100%, #39526e));
	background: -webkit-linear-gradient(70deg, #141d27 0, #233344 72%, #2c4055 89%, #39526e 100%);
	background: -o-linear-gradient(70deg, #141d27 0, #233344 72%, #2c4055 89%, #39526e 100%);
	background: -ms-linear-gradient(70deg, #141d27 0, #233344 72%, #2c4055 89%, #39526e 100%);
	background: linear-gradient(70deg, #141d27 0, #233344 72%, #2c4055 89%, #39526e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141d27', endColorstr='#39526e', GradientType=1);
	color: #fff;
	text-align: center;
}

.hero h1{
	margin-top: 22px;
	margin-bottom: 15px;
	font-size: 26px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

.margin-left{
	margin-left: 10px;
}

.section-feat {
	padding: 3em 0 3em;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: #eaf1f1;
}

.section-feat .fa {
margin-right: .5em;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-file-o{
	background-image: url(../images/logo.png);
}

.mtop{
	margin-top: -8px;
}

.try{
	margin:20px 0;
}

.platform {
	margin: 1rem 4.5rem 0;
	fill: #b8c6ce;
}

.padding{
	padding-top: 20px;
}
.padding ul li{
	list-style: none;
	display: inline-block;	
	margin-right: 10px;
}

.footer-top-line a{
	color:white;
	text-decoration: none;
}

.footer-bottom-line ul{
	margin-bottom:0px;
}
.footer-bottom-line a{
	padding-top: -20px;
	color:#a3a3a3;
	font-size: 11px;	
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;	
}
.bs-callout-danger {
	border-left-color: #d9534f;
}
.bs-callout-danger h4 {
	color: #d9534f;
}
.bs-callout h4 {	
	font-size:1.2em;
	margin-top: 0;
	margin-bottom: 5px;	
}
@import "bootswatch/flatly/bootswatch";