<div class="footer">
	<div class="container">
		<div >
			<div class="padding footer-top-line">				
				<ul>
					<li><a href="/about">О нас</a></li>
					<li><a href="/terms">Условия использования</a></li>
					<li><a href="/settings">Настройки</a></li>
					<li><a href="/locale">English version</a></li>
					<!-- Go to www.addthis.com/dashboard to customize your tools -->
					<li><div class="addthis_sharing_toolbox"></div></li>
				</ul>
			</div>
			<div class="padding footer-bottom-line">				
				<ul>
					<li><a href="/settings">изменить IP адрес</a></li>
					<li><a href="/settings">скрыть IP адрес</a></li>
					<li><a href="/settings">vpn сервис</a></li>
					<li><a href="/about">анонимайзер для «вконтакте»</a></li>
					<li><a href="/terms">одноклассники</a></li>
					<li><a href="/settings">youtube</a></li>
					<li><a href="/settings">facebook</a></li>					
				</ul>
			</div>	
		</div>		
	</div>	
</div>