<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
      <a class="navbar-brand" href="/private"><%= image_tag("logo.png", class: "bimage")%> SweetVPN</a>
      <% else %>
        <a class="navbar-brand" href="/"><%= image_tag("logo.png", class: "bimage")%> SweetVPN</a>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
              
        <li><%= link_to "Цены", pricing_path %></li>
        <li><%= link_to "Частые вопросы", faq_path %></li>
        <li><%= link_to "Поддержка", support_path %></li>
      </ul>      
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
        <p class="navbar-text">Вы вошли как: </p> 
         <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Редактировать профиль", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></a></li>
          </ul>
        </li>         
        <% else %>
          <li><%= link_to "Войти", new_user_session_path %></li>
          <p class="navbar-text">|</p>
          <li><%= link_to "Регистрация", new_user_registration_path, class: "bold" %></li>          
        <% end %>       
        
      </ul>
    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>