<!DOCTYPE html>
<html>
<head>
  <title>SweetVPN</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="root">
  <%= render 'layouts/header' %>
  <div class="container">
  	<div class="subheader"></div>

  	<% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg,:id => "flash_#{name}" %>
        </div>
      <%end %>
    <% end%>

	<%= yield %>
  
	</div>
<div class="root-footer"></div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
