<!DOCTYPE html>
<html>
<head>
  <title>SweetVPN - vpn service and anonymizer for FREE</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="root">
  <%= render 'layouts/header' %>
  <%= render 'layouts/public/hero' %>
  <%= render 'layouts/public/features' %>
  <%= render 'layouts/public/platforms' %>
  <%#= render 'layouts/public/extra' %>
<div class="root-footer"></div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
